h1 {
    color : cyan;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px; /* space between letters */
    text-shadow: 3px 2px 1px grey; /* shadow */
}

.World {
    color: black;
}

p {
    color: magenta;
    text-align: center;
}

.p1 {
    background-color: violet;
    color: black;
}

.p2 {
    background-color: paleturquoise ;
    color: black;
}

.p3 {
    background-color: springgreen;
    color: black;
