h1 {
    color : cyan;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px; /* space between letters */
    text-shadow: 3px 2px 1px grey; /* shadow */
}

.World {
    color: black;
}

p {
    color: magenta;
    text-align: center;
}
/* class p1 dan p2 dan p3 */
.p1 {
    background-color: violet;
    color: black;
}

.p2 {
    background-color: paleturquoise ;
    color: black;
}

.p3 {
    background-color: springgreen;
    color: black;
}

h2 {
    color: rgb(27, 109, 177); 
    text-align: center;   
    border: 1px solid black;
    border-style: groove;  
    border-color: rgb(0, 0, 0);
    background-color: rgba(173, 87, 223, 0.212);
    margin: 0px;
    padding: 0px;
}