h1 {
    color : cyan;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px; /* space between letters */
    text-shadow: 3px 2px 1px grey; /* shadow */
}

.World {
    color: black;
}